/*
 * global
 */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700');

* {
  font-size: 16px;
  font-family: 'Lato' sans-serif;
}
.wrapper {
  max-width: 970px;
  margin: 0 auto;
  padding: 20px;
}
h2 {
  color: #29d9c2;
  font-size: 60px;
  font-family: 'chunkfiveroman', serif;
  text-align: center;
  font-weight: bold;
}
/*
 * menu 
 */
header {
  background-image: url('../images/background-header.jpg');
  background-position: center;
  background-size: cover;
  height: 737px;
  width: 100%;
  margin: 0;
} 
.clearfix {
  clear: both;
}
header .pos-center {
  margin: 0 auto;
  max-width: 1100px;
  position: relative;
}
header .logo {
  float: left;
  margin: 50px 0 0 20px;
  color: #fff;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
.logo span {
  font-size: 25px;
  font-weight: 600;
}
header nav {
  float: right;
  width: 75%;
  margin-right: 10px;
}
header nav ul,
header nav ul.visible {
  display: block;
  margin-top: 55px;
  padding: 0;
  width: 100%;
  text-align: center;
}
header nav ul {
  text-align: right;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
header nav ul > li > a {
  padding: 18px;
}
header nav ul li > a:hover {
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 15px;
}
header nav .menu-toggler {
  display: none;
  width: 50px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
}
header nav .menu-toggler .bar {
  display: block;
  height: 4px;
  width: 100%;
  margin-bottom: 5px;
  background-color: #898989;
  border-radius: 5px;
}
header nav .menu-toggler:focus {
  border: 3px solid #fff;
  padding: 3px;
}
.header-content {
  clear: both;
  text-align: center;
  padding-top: 150px;
}
.header-content h1,
.header-content .skyblue-title {
  color: #fff;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'chunkfiveroman', serif;
}
.header-content .skyblue-title,
.skyblue-title {
  color: #01a2a6;
}
.skyblue-title {
  font-size: 60px;
}
.header-content p {
  color: #fff;
  margin-top: -40px;
  font-size: 18px;
}
.btn {
  color: #000;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.btn-header {
  width: 230px;
  background-color: #ffffa6;
  margin-top: 20px;
}
#city-of-love {
  min-height: 495px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: -40px;
}
.img-city {
  float: left;
  margin-top: 95px;
  width: calc(50% - 20px);
}
.content-city {
  float: right;
  margin: 55px 0 0 20px;
  width: calc(50% - 40px);
  padding: 20px;
}
.content-city p {
  color: #9b9b9b;
  line-height: 35px;
}
.ittenery {
  float: left;
  width: 50%;
  min-height: 650px;
}
.ittenery h5 {
  background: url('../images/background-itenery-head.jpg');
  background-position: center;
  background-size: cover;
  height: 44px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  margin: 0;
}
.ittenery form {
  background: #ffffa6;
  padding: 20px;
}
.ittenery form h6 {
  font-size: 16px;
}
.ittenery form input {
  width: calc(100% - 70px);
  height: 60px;
  padding-left: 70px;
  border-radius: 5px;
  border: 2px solid #d5d57d;
}
.ittenery p {
  background-color: #f5e99e;
  font-size: 14px;
  padding: 8px;
  color: #d8cb7d;
  margin: 0 5px;
}
.ittenery p:nth-child(4),
.ittenery p:nth-child(9) {
  border-radius: 0 0 5px 5px;
  width: 40%;
  text-align: center;
  margin: 0 0 10px 50%;
}
.ittenery p:last-child {
  padding: 15px 5px;
  text-align: center;
  border: 3px dashed #e8e897;
  border-radius: 5px;
}
.mini-foto {
  position: absolute;
  height: 50px;
  margin-left: 10px;
  margin-top: 7px;
}
.buttons {
  margin: 30px 0;
  float: right;
}
.btn-save {
  color: #fff;
  background-color: #c3f37f;
  margin-right: 20px;
}
.btn-print {
  color: #fff;
  background-color: #3ddbc7;
}
.ittinery-list {
  float: left;
  width: 50%;
}
.ittinery-list h5 {
  color: #29d9c2;
  text-align: center;
}
.ittinery-list span {
  color: #29d9c2;
  font-size: 14px;
}
.ittinery-list ul {
  padding: 0;
}
.ittinery-list ul li p {
  margin: 10px;
}
.ittinery-list ul li p:nth-child(2) {
  color: #dedede;
  font-size: 14px;
}
.ittinery-list ul li {
  list-style-type: none;
  color: #626262;
  position: relative;
  border: 1px solid #626262;
  border-radius: 5px;
  margin: 15px;
}
.ittinery-list ul li img {
  position: absolute;
  top: 5px;
  left: 70%;
}
#destination {
  background-color: #f2fefe;
}
.head-destination {
  margin-left: 40px;
}
.head-destination h2 {
  text-align: left;
}
.head-destination .info {
  margin: -90px 0 50px 0;
  text-align: right;
}
.head-destination {
  color: #777;
}
.head-destination input {
  max-width: 230px;
  height: 30px;
  border-radius: 25px;
  border: none;
  padding: 10px 40px;
}
.search {
  position: relative;
  margin-bottom: 30px;
}
.search .fa {
  position: absolute;
  left: 15px;
  top: 15px;
}
.img-paraligder {
  float: left;
  background-image: url('../images/paraligder.jpg');
  background-size: cover;
  background-position: center;
  width: 60%;
  height: 420px;
}
.see-more-img {
  text-align: right;
  margin-right: 10px;
}
.see-more-img a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.img-paraligder .see-more-img {
  margin-top: 390px;
}
.batu {
  float: left;
  height: 385px;
  width: calc(40% - 40px);
  margin-left: 0;
  padding: 20px;
  background-color: #fff;
}
.description-image {
  color: #999a9a;
  line-height: 25px;
}
h6 {
  color: #42b9bd;
  font-size: 30px;
  margin: 10px 0;
}
.two-paragraph .left-description {
  float: left;
  width: calc(60% - 20px);
  height: 340px;
  margin: 20px 20px 0 0; 
}
.bromo {
  width: calc(50% - 40px);
  height: 300px;
  background: #fff;
  float: left;
  padding: 20px;
}
.mountain-bromo {
  background: url('../images/mountain.jpg');
  background-position: center;
  background-size: cover; 
  height: 340px;
  width: 50%;
  float: right;
}
.mountain-bromo .see-more-img {
  margin-top: 300px;
}
.two-paragraph .right-description {
  float: right;
  background: url('../images/boat.jpg');
  background-position: center;
  background-size: cover;
  width: 40%;
  margin-top: 20px;
  height: 340px;
}
.boat-palm-img {
  border-radius: 50px;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
.pagination {
  text-align: center;
  clear: both;
}
.pagination ul li {
  display: inline-block;
  color: #acacac;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  margin-top: 50px;
}
.pagination ul li:nth-child(1) {
  color: #01a2a6;
  font-size: 22px;
}

/*section contact*/
#contact {
  background-image: url('../images/contact-background.jpg');
  background-position: center;
  background-size: cover;
  height: 666px;
  clear: both
}
#contact h2 {
  color: #fff;
}
#contact .form-info {
  float: left;
  width: 45%;
}
#contact .form-info input,
#contact .form-info textarea {
  display: block;
  margin: 20px;
  width: 320px;
  height: 20px;
  border: none;
  border-radius: 5px;
  color: #b9b9b9;
  font-size: 14px;
  padding: 20px;
}
#contact .form-info input:nth-child(2n),
#contact .form-info input:nth-child(3n) {
  width: 130px;
  display: inline-block;
  margin: 0;
}
#contact .form-info input:nth-child(2n) {
  margin: 0 20px 0 18px;
}
#contact .form-info textarea {
  width: 320px;
  height: 95px;
}
.btn-contact {
  background-color: #b5ed85;
  color: #fff;
  margin-left: 200px;
}
.contact-or {
  color: #fff;
  float: left;
  margin-top: 130px;
}
#contact .addres {
  float: right;
  width: 45%;
  color: #fff;
}
#contact .addres h3 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}
#contact .addres ul {
  padding: 0;
}
#contact .addres ul li {
  list-style-type: none;
  margin-top: 15px;
}
#contact .addres .map-link {
  text-decoration: none;
  color: #fff772;
  margin-left: 20px;

}
/*section keep in touch*/
#keep-in-touch {
  height: 215px;
  background: url('../images/keep-in-touch-background.jpg'); 
  color: #fff;
  background-size: cover;
  background-position: center;
}
.content-keep {
  float: left;
}
.form-email {
  height: 70px;
  float: right;
  margin-top: 65px;
}
.form-email input {
  height: 28px;
  width: 350px;
  border: 1px solid #e5e5e5;
  color: #777;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  vertical-align: bottom;
}
.form-email button {
  height: 70px;
  width: 70px;
  background-color: #01a2a6;
  cursor: pointer;
  color: #fff;
  border-radius: 0 10px 10px 0;
  border: none;
}
.content-keep h2 {
  color: #fff;
  margin-bottom: 0;
}

/*footer*/
footer {
  background-image: url('../images/background-footer.jpg');
  background-size: cover;
  background-position: center;
  height: 250px;
}
.link-footer,
.social {
  margin-top: 27px;
}
.link-footer li,
.social li {
  display: inline-block;
  margin-right: 7px;
}
.link-footer {
  float: left;
}
.link-footer a {
  color: #777;
}
.social {
  float: right;
}
footer .fa-circle {
  color: #5d5c5c;
}
footer a {
  color: #777;
  font-size: 12px;
  text-decoration: none;
  margin-top: 27px;
}
.icon {
  color: #2f2933;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #777;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
}
.copy {
  clear: both;
  color: #afafaf;
  font-size: 12px;
  text-align: center;
  padding-top: 130px;
}
/*media max-width 970px*/
@media screen and (max-width: 970px){
  #contact {
    height: 1000px;
  }
  #contact .form-info, 
  .contact-or, 
  #contact .addres {
    float: none;
    text-align: center;
    width: 100%;
  } 
  #contact .addres .map-link {
    display: block;
  }
  .contact-or {
    text-align: center;
    margin: 30px 0;
  }
  #contact .form-info input:nth-child(2n),
  #contact .form-info input:nth-child(3n) {
  width: 320px;
  display: block;
  margin: 20px auto;
  }
  #contact .form-info input,
  #contact .form-info textarea {
    margin: 20px auto;
  }
  .btn-contact {
    margin-left: 0;
  }
  #keep-in-touch {
    height: 335px;
  }
  .content-keep,
  .form-email {
    float: none;
    margin: 30px;
    text-align: center;
  }
}
/*media max width 768px*/
@media screen and (max-width: 768px){
  header {
    height: 600px;
  }
  header .logo {
    margin-top: 25px;
    margin-left: 10px;
  }
  header nav {
    width: 100%;
  }
  header nav .menu-toggler {
    display: block;
  }
  header nav ul {
    display: none;
  }
  header nav ul.visible {
    margin-top: 0;
  }
  header nav ul li {
    width: 100%;
  }
  header nav ul > li > a {
    height: 40px;
    line-height: 40px;
  }
  header nav ul li > a:hover {
    padding: 10px;
  }
  .header-content {
    padding-top: 5px;
  }
  .header-content h1,
  .header-content .skyblue-title {
    font-size: 45px;
  }
  .header-content p {
    margin-top: -20px;
    font-size: 16px;
  }
  .img-city, 
  .content-city {
    float: none;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 80%;
  }
  .img-city {
    padding-top: 60px;
  }
  .description-image {
    line-height: 18px;
    font-size: 14px;
  }
  h2,
  .skyblue-title {
    font-size: 50px;
  }
  h6 {
    font-size: 22px;
  }
  .img-paraligder,
  .mountain-bromo {
    display: none;
  }
  .head-destination {
    margin-left: 0;
  }
  .ittinery-list h5 {
    padding-top: 40px;
  }
  .batu,
  .bromo, 
  .two-paragraph .left-description {
    float: none;
    width: calc(100% - 20px);
    height: auto;
  }
  .batu {
    width: calc(100% - 40px);
  }
  .two-paragraph .right-description,
  .ittenery,
  .ittinery-list  {
    float: none;
    width: 100%;
  }
  .btn-save,
  .btn-print {
    margin: 20px auto;
  }
  #contact .form-info input,
  #contact .form-info textarea {
    width: 230px;
  }
  #contact .form-info input:nth-child(2n),
  #contact .form-info input:nth-child(3n) {
    max-width: 230px;
  }
  .form-email input {
    width: 250px;
  }
}
/* media max-width 460px*/
@media screen and (max-width: 460px) {
  * {
    font-size: 14px;
  }
    h2,
  .skyblue-title {
    font-size: 40px;
  }
  .content-city p {
    line-height: 20px;
  }
  .form-email input {
    width: 100px;
  }
  .ittinery-list span {
    display: none;
  }
  .ittinery-list ul li img {
    left: 60%;
  }
  .link-footer{
    padding-top: 30px;
  }
  .link-footer, 
  .social {
    float: none;
    text-align: center;
  }
  .copy {
    padding-top: 60px;
  }
}